doctype
html(lang="ja")
  head
    meta(charset="utf-8")
    title SVG Favicon Demo
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
  body
    h1 SVG Favicon Demo
    p Look for browser's tab, or set to home screen.
